  <% layout("layouts/boilerPlate") %> 
  <h1>모든 게시물</h1>
  <table class="table">
    <thead>
        <tr>
          <th>이미지</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일자</th>
        </tr>
    </thead>
    <% for(let forum of forums){%>
      <tbody>
        <tr>
          <th>
            <% if (forum.img) { %>
              <input type="checkbox" disabled checked>
            <%} else {%>
              <input type="checkbox" disabled>
            <%}  %> 
          </th>
          <th><a href="/forums/<%=forum._id%>"><%= forum.title %></a></th>
          <th><%=forum.author%></th>
          <th><%=forum.date%></th>
        </tr>
      </tbody>
      <%}%>
  </table>
    <a href="/forums/new" class="btn btn-primary">글쓰기</a>