  <% layout('layouts/boilerPlate') %> 
  <div class="row">
    <h1 class="text-center">글 작성하기</h1>
    <div class="col-6 offset-3">
      <form class="mb-3" action="/forums" method="POST">
        <div class="mb-3">
          <label class="form-label" for="title">제목</label>
          <input class="form-control" type="text" id="title" name="forum[title]">
          <!-- name으로 구분해주는 건 컨텐츠를 그룹화할 수 있는 좋은 방법이다 -->
        </div>
        <div class="mb-3">
          <label class="form-label" for="author">작성자</label>
          <input class="form-control" type="text" id="author" name="forum[author]">
        </div>
        <div class="mb-3">
          <label class="form-label" for="img">이미지</label>
          <input class="form-control" type="text" id="img" name="forum[img]">
        </div>
        <div class="mb-3">
          <label class="form-label" for="date">작성일자</label>
          <input class="form-control" type="text" name="forum[date]" id="date" 
          value="<%=new Date().toLocaleDateString()%> <%=new Date().toLocaleTimeString()%>" readonly>
        </div>
        <div class="mb-3">
          <label for="contents" class="form-label">내용</label>
          <textarea name="forum[contents]" class="form-control" id="contents" cols="30" rows="5"></textarea>
        </div>
        <button class="btn btn-success col-12">작성</button>
      </form>
      <a href="/forums">뒤로</a>
    </div>
  </div>

  
