<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>new forums</title>
</head>
<body>
  <h1>글 작성하기</h1>
  <form action="/forums" method="POST">
    <div>
      <label for="title">제목</label>
      <input type="text" id="title" name="forum[title]">
      <!-- name으로 구분해주는 건 컨텐츠를 그룹화할 수 있는 좋은 방법이다 -->
    </div>
    <div>
      <label for="author">작성자</label>
      <input type="text" id="author" name="forum[author]">
    </div>
    <div>
      <label for="contents">내용</label>
      <textarea name="forum[contents]" id="contents" cols="30" rows="10"></textarea>
    </div>
    <button>작성</button>
  </form>
  <a href="/forums">뒤로</a>
</body>
</html>