<% if(success && success.length > 0) {%>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= success %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(del && del.length > 0) {%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= del %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(update && update.length > 0) {%>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <%= update %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>