<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JWinside</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column vh-100">
  <%- include("../partials/nav")%>
  <main class="container mt-3">
    <%- body -%>
  <!-- 얘는 ejs문법중 특이하게 양옆으로 %-가 대칭됨 -->
  </main>
  <%- include("../partials/footer")%>

</body>
</html>

<!-- 이렇게 하고 layout(..)을 해주면 모든 레이아웃이 사용된 모든 ejs파일의 내용은 위 body에 들어가게 된다 -->